  <h1> woof 🦆</h1>

<p>
  <%= @dog.name %> is <%= @dog.age%> years old
</p>

<button>
  <a href="/dogs/<%= @dog.id %>/edit"> Edit me </a>
</button>

<br>

<a href="/dogs"> Go back to see all the good dogs </a>
